In [6]:
from lib import data_pipeline
import pandas as pd

In [7]:
data_pipeline.download_datasets(limit = 10)

Downloading motor_vehicle_collisions_crashes.csv. This may take a while...
motor_vehicle_collisions_crashes.csv downloaded successfully!

In [3]:
raw_data = pd.read_csv("./data/motor_vehicle_collisions_crashes.csv")
raw_data.head()

,crash_date,crash_time,borough,zip_code,latitude,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed
0,2019-01-02T00:00:00.000,18:03,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
1,2019-01-02T00:00:00.000,18:52,MANHATTAN,10036.0,NaN,WEST 42 STREET,0,0,0,0,0,0,0,0
2,2019-01-02T00:00:00.000,7:35,NaN,NaN,40.762978,LONG ISLAND EXPRESSWAY,1,0,0,0,0,0,1,0
3,2019-01-02T00:00:00.000,16:58,QUEENS,11377.0,40.734230,59 STREET,0,0,0,0,0,0,0,0
4,2019-01-02T00:00:00.000,13:00,NaN,NaN,40.671350,CLASSON AVENUE,0,0,0,0,0,0,0,0

In [4]:
raw_data.dtypes

crash_date                        object
crash_time                        object
borough                           object
zip_code                         float64
latitude                         float64
on_street_name                    object
number_of_persons_injured          int64
number_of_persons_killed           int64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
dtype: object

In [5]:
raw_data.shape

(10, 14)

In [ ]:
l = ['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude', 'longitude', 'location', 'on_street_name', 'off_street_name', 'cross_street_name', 'number_of_persons_injured', 'number_of_persons_killed', 'number_of_pedestrians_injured', 'number_of_pedestrians_killed', 'number_of_cyclist_injured', 'number_of_cyclist_killed', 'number_of_motorist_injured', 'number_of_motorist_killed', 'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5', 'collision_id', 'vehicle_type_code1', 'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5']
",".join(l)