In [ ]:
%pip install -r requirements.txt

In [1]:
from lib import data_pipeline
import pandas as pd

In [2]:
data_pipeline.download_datasets(limit = 1000)

Downloading motor_vehicle_collisions_crashes.csv. This may take a while...
motor_vehicle_collisions_crashes.csv downloaded successfully!
Downloading real-time_traffic_speed_data.csv. This may take a while...
real-time_traffic_speed_data.csv downloaded successfully!

In [3]:
raw_data_crashes = pd.read_csv("./data/motor_vehicle_collisions_crashes.csv")
raw_data_crashes.head()

,crash_date,crash_time,borough,zip_code,longitude,latitude,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed
0,2019-01-01T00:00:00.000,18:41,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,0,0,0,0,0,0,0,0
1,2019-01-01T00:00:00.000,1:30,NaN,NaN,NaN,NaN,NARROWS ROAD NORTH,1,0,0,0,0,0,1,0
2,2019-01-01T00:00:00.000,23:55,NaN,NaN,NaN,NaN,MARTIN LUTHER KING JR,1,0,0,0,0,0,1,0
3,2019-01-01T00:00:00.000,0:20,QUEENS,11377.0,-73.915855,40.743137,ROOSEVELT AVENUE,0,0,0,0,0,0,0,0
4,2019-01-01T00:00:00.000,3:30,QUEENS,11103.0,-73.913450,40.759020,NaN,1,0,0,0,0,0,1,0

In [4]:
raw_data_speed = pd.read_csv("./data/real-time_traffic_speed_data.csv")
raw_data_speed.head()

,speed,travel_time,data_as_of,link_points,borough
0,65.24,107,2022-10-06T02:14:12.000,"40.60213,-74.187981 40.60504,-74.185 40.60687,...",Staten Island
1,0.00,0,2022-10-06T02:14:12.000,"40.52581,-74.23039 40.52593,-74.228371 40.5261...",Staten Island
2,44.73,123,2022-10-06T02:14:12.000,"40.8563506,-73.87233 40.85219,-73.871371 40.85...",Bronx
3,0.00,0,2022-10-06T02:14:12.000,"40.63092,-74.14592 40.62975,-74.14593 40.62877...",Staten Island
4,65.24,60,2022-10-06T02:14:12.000,"40.6152105,-74.157401 40.61231,-74.15362 40.60...",Staten Island

In [5]:
raw_data_crashes.dtypes

crash_date                        object
crash_time                        object
borough                           object
zip_code                         float64
longitude                        float64
latitude                         float64
on_street_name                    object
number_of_persons_injured          int64
number_of_persons_killed           int64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
dtype: object

In [6]:
raw_data_speed.dtypes

speed          float64
travel_time      int64
data_as_of      object
link_points     object
borough         object
dtype: object

In [7]:
raw_data_crashes.shape, raw_data_speed.shape

((1000, 15), (1000, 5))